/* Coolors Exported Palette - coolors.co/2d3142-3e7f9d-bfc0c0-ffffff-8ea1b3 */

/* HSL */
$color1: hsla(229%, 19%, 22%, 1);
$color2: hsla(199%, 43%, 43%, 1);
$color3: hsla(180%, 1%, 75%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(209%, 20%, 63%, 1);

/* RGB */
$color1: rgba(45, 49, 66, 1);
$color2: rgba(62, 127, 157, 1);
$color3: rgba(191, 192, 192, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(142, 161, 179, 1);